style 
    include index.css

h1(class = "hello") Welcome to Kiss-met App!
br
br
br
h2(class = "hello") Sign In
form(action='/welcome.pug', method='POST')
    h3(class = "placehold") 
        | Username: 
        input(name='username', value='', type='text')
    input(class = "button", value='Sign In', type='submit')